<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="./internal_logs/internallog.txt"
      throwConfigExceptions="true">

  <!-- Log hedeflerini tanımla -->
  <targets>
    <!-- Dosyaya log yaz -->
    <target xsi:type="File" name="logfile"
            fileName="./logs/${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true} | ${message} ${exception}" 
            createDirs="true" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>
